.button{
    margin-top: 40px;
  }
  
  .button label, form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button label{
    font-size: 16px;
    flex-direction: column;
    text-align: left;
  }
  
  .button #guess{
    width: 350px;
    height: 60px;
    border: none;
    border-radius: 5px;
  }
  
  .button #guessBtn{
    width: 350px;
    height: 60px;
    font-size: 24px;
    line-height: auto;
    background-color: #3AE4A8;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
  }