.main{
    margin-top: 48px;    
}

.main ul{
    font-size: 16px;
    line-height: auto;
    text-align: left;
    margin-bottom: 0;
}

.main ol{
    margin-bottom: 0;
    font-size: 16px;
    line-height: auto;
    text-align: left;
}